.thankyou-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100rem;
    background-color: #ffdd44;
    /* Colore di sfondo giallo */
    padding: 20px;
}

.title {
    color: #ff8585;
    /* Colore del titolo */
    font-size: 2rem;
    margin-bottom: 20px;
}

.message {
    text-align: center;
    margin-bottom: 20px;
}

.thanks {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.mood-message {
    font-size: 1.5rem;
    color: #000;
}

.mood {
    font-size: 1.5rem;
    color: #ff8585;
    /* Colore per il mood */
}

.discover-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00cfff;
    /* Colore del pulsante */
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}